@media screen and (min-width: 375px) and (max-width: 425px) {
    /* header */
    nav {
        display: block;

    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo > img {
        width: 150px;

        margin: 10px 30px 30px;

    }

    .menu {
        display: block;
    }

    .menu div{
        display: inline-block;

        margin: 3px 8px;
    }

    .menu div:nth-of-type(1) {
        margin-left: 70px;
    }

    .menu div:nth-of-type(4) {
        margin-left: 70px;
    }

    .menu p {
        font-size: 8px;
    }

    .menu img  {
        width: 50px;
    }



/*section packages*/
#text-packages {
    padding-top: 30px;
}

#logo-packages>img {
    width: 100px;

    margin: 40px 50px;
}

#text-packages > .up {
    font-size: 30px;

    margin-top: 20px;
}

#text-packages > .down {
    font-size: 15px;

    padding-top: 5px;
    margin-top: 5px;
}


/* section eclosion, evolution et envol */
    .title-eclosion {
        font-size: 20px;
    }

    .title-eclosion>h1 {
        padding: 10px 5px;
        margin:10px auto;
    }

    #eclosion {
        width: 30%;
    }

    #eclosion>img {
        width: 150px;

        margin: 0px 50px 10px 50px;
    }

    #text-eclosion {
        font-size: 15px;

        width: auto;

        padding: 0px 50px;
    }


/* section logo eclosion, evolution, envol */
    .pad {
        padding: 20px 70px;
    }

    .dispo-logo>div {
        font-size: 15px;
    }

    .dispo-logo>div>img {
        width: 65px;
    }


/* section logo evolution modif */
    .padEvo {
        padding: 20px 70px 0px;
    }

    .dispo-logo-exception>div>img {
    width: 65px;
    }


/* section footer */
    .div-footer {
        font-size: 15px;
    }

    .div-footer>div>p {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .div-footer div img:nth-child(2) {
        padding-bottom: 80px;
    }

    .div-footer div img:nth-child(3) {
        padding-bottom: 40px;
    }

    .cond {
        padding-top: 0px;
        padding-bottom: 10px;
    }
}